.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}
.date-picker-date-time {
  position: absolute;
}
.date-range .date-picker-date-time {
  position: inherit;
}
[date-picker-wrapper] {
  position: absolute;
  min-width: 220px;
  z-index: 10;
  display: block;
  font-size: 14px;
}
[date-picker-wrapper] [date-picker] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
[date-time-append] [date-picker-wrapper] [date-picker] {
  margin-top: -30px;
}
[date-time-append] [date-picker] {
  position: relative;
  margin-right: -1000px;
  margin-bottom: -1000px;
}
[date-range] [date-picker] .after.before {
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #499dcd;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2f6ab4));
  background-image: -webkit-linear-gradient(top, #5BC0DE, #2f6ab4);
  background-image: linear-gradient(to bottom, #5BC0DE, #2f6ab4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f6ab4', GradientType=0);
  border-color: #2f6ab4 #2f6ab4 #1f4677;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f6ab4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
[date-range] [date-picker] .after.before:hover,
[date-range] [date-picker] .after.before:active,
[date-range] [date-picker] .after.before.active,
[date-range] [date-picker] .after.before.disabled,
[date-range] [date-picker] .after.before[disabled] {
  color: #FFF;
  background-color: #2f6ab4;
  *background-color: #2a5ea0;
}
[date-range] [date-picker] .after.before:active,
[date-range] [date-picker] .after.before.active {
  background-color: #24528c \9;
}
[date-picker].hidden {
  display: none;
}
[date-picker] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-radius: 4px;
  background-color: #FFF;
  min-width: 300px;
  /* GENERAL */
  padding: 4px;
  /* SPECIFIC */
}
[date-picker] table {
  margin: 0;
  width: 100%;
}
[date-picker] td,
[date-picker] th {
  background: #FFF;
  padding: 4px 5px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: none;
}
[date-picker] .switch {
  width: 145px;
}
[date-picker] span {
  display: block;
  width: 23%;
  height: 26px;
  line-height: 25px;
  float: left;
  margin: 1%;
  cursor: pointer;
}
[date-picker] span:hover {
  background: #EEE;
}
[date-picker] span.disabled,
[date-picker] span.disabled:hover {
  background: none;
  cursor: default;
}
[date-picker] .active {
  background-color: #006dcc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #08C, #0044cc);
  background-image: linear-gradient(to bottom, #08C, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #FFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
[date-picker] .active:hover,
[date-picker] .active:active,
[date-picker] .active.active,
[date-picker] .active.disabled,
[date-picker] .active[disabled] {
  color: #FFF;
  background-color: #0044cc;
  *background-color: #003bb3;
}
[date-picker] .active:active,
[date-picker] .active.active {
  background-color: #003399 \9;
}
[date-picker] .now {
  background: transparent;
  color: #EE5F5B !important;
}
[date-picker] .disabled {
  background: none;
  color: #CCC;
  cursor: default;
}
[date-picker] [ng-switch-when="year"] span,
[date-picker] [ng-switch-when="month"] span,
[date-picker] [ng-switch-when="minutes"] span {
  height: 54px;
  line-height: 54px;
}
[date-picker] [ng-switch-when="date"] td {
  padding: 0;
}
[date-picker] [ng-switch-when="date"] span {
  width: 100%;
  height: 26px;
  line-height: 26px;
}
[date-picker] th:hover,
[date-picker] span:hover {
  background: #EEE;
  cursor: pointer;
}
.date-picker-block th,
.date-picker-block td {
  border: 1px solid #CCC;
}
.date-picker-block td {
  height: 50px;
}
.date-picker-block [ng-switch-when="date"] span {
  height: 50px;
  line-height: 50px;
  border-radius: 0;
  margin: 0;
  position: relative;
}
.date-picker-block [ng-switch-when="date"] span.active {
  background: transparent;
  color: inherit;
}
.date-picker-block [ng-switch-when="date"] span.expire {
  background: #F00;
  color: #FFF;
}
.date-picker-block [ng-switch-when="date"] span.remind {
  background: green;
  color: #FFF;
}
