<ul class="pagination" ng-if="status.totalPage>1">
    <li ng-class="{disabled:status.currentPage==1}"><a ng-click="start()"><span class="iconfont icon-page-start"></span></a></li>
    <li ng-class="{disabled:status.currentPage==1}"><a ng-click="prev()"><span class="iconfont icon-page-prev"></span></a></li>
    <li ng-repeat="page in pages" ng-class="{active:page.active}"><a ng-click="goto(page.number)">{{page.text}}</a></li>
    <li ng-class="{disabled:status.currentPage==status.totalPage}"><a ng-click="next()"><span class="iconfont icon-page-next"></span></a></li>
    <li ng-class="{disabled:status.currentPage==status.totalPage}"><a ng-click="end()"><span class="iconfont icon-page-end"></span></a></li>
</ul>