<div class="loader" ng-if="status.isLoading">
    <div class="loader-inner pacman">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div ng-if="!status.isLoading">
    <div class="empty-wrap" ng-if="treeList.length==0">
        <div class="icon"><i class="iconfont icon-empty"></i></div>
        <div>什么也没有</div>
    </div>
    <ul ng-if="treeList.length">
        <li ng-class="{fold:curTree1.id==tree.id}" ng-repeat="tree in treeList | filter:{pid:'0'}:true">
            <em ng-click="selectTree1(tree)"><i class="iconfont fold-p"></i> {{tree.name}}</em>
            <ul>
                <li ng-class="{fold:curTree2.id==tree2.id}" ng-repeat="tree2 in treeList | filter:{pid:tree.id}:true">
                    <em ng-click="selectTree2(tree2)"><i class="iconfont fold-p"></i> {{tree2.name}}</em>
                    <ul>
                        <li ng-class="{on:curTree3.id==tree3.id}" ng-repeat="tree3 in treeList | filter:{pid:tree2.id}:true">
                            <em ng-click="selectTree3(tree3)"><i class="iconfont icon-house"></i> {{tree3.name}}</em>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>