<div ng-controller="pageCtrl" ng-init="mainStatus.navigation='example'">
    <div class="top-nav-wrap">
        <div class="title">实例</div>
        <div class="right">
            <div class="nav">
                <a class="li"><i class="iconfont icon-plus"></i></a>
                <a class="li"><i class="iconfont icon-search"></i></a>
                <a class="li"><i class="iconfont icon-bell"></i><i class="tip" ng-if="mainStatus.msgBubble">{{mainStatus.msgBubble}}</i></a>
            </div>
        </div>
    </div>
    <div class="page-main">
        <div class="form-tr">
            <div class="form-th">实例1</div>
            <div class="form-td">
                <a href="#/yuexuequan/main.html" class="btn">项目面板</a>
                <a href="#/yuexuequan/main2.html" class="btn">项目面板2</a>
                <a href="#/yuexuequan/main3.html" class="btn">成绩录入</a>
                <a href="#/yuexuequan/grade-chart.html" class="btn">图表</a>
                <a href="#/yuexuequan/notice.html" class="btn">发通知</a>
            </div>
        </div>
        <div class="form-tr">
            <div class="form-th">实例2</div>
            <div class="form-td">
                <a href="#/finance-o2o/list-1.html" class="btn">列表1</a>
                <a href="#/finance-o2o/list-2.html" class="btn">列表2</a>
                <a href="#/finance-o2o/list-3.html" class="btn">列表3</a>
                <a href="#/finance-o2o/list-4.html" class="btn">列表4</a>
            </div>
        </div>
    </div>
</div>