<div ng-controller="pageCtrl" ng-init="mainStatus.navigation='layout'">
    <div class="top-nav-wrap">
        <div class="back backBtn"><i class="iconfont icon-back"></i></div>
        <div class="title2">布局</div>
        <div class="right">
            <div class="nav">
                <a class="li"><i class="iconfont icon-plus"></i></a>
                <a class="li"><i class="iconfont icon-search"></i></a>
                <a class="li"><i class="iconfont icon-bell"></i><i class="tip" ng-if="mainStatus.msgBubble">{{mainStatus.msgBubble}}</i></a>
            </div>
        </div>
    </div>
    <div class="page-main">
        <div class="mg-l"><span class="text-l">基本布局</span></div>
        <div class="mg-l">
            <div class="col-group col-group-exp mg">
                <div class="col-1">.col-1</div>
                <div class="col-1">.col-1</div>
                <div class="col-1">.col-1</div>
                <div class="col-1">.col-1</div>
                <div class="col-1">.col-1</div>
                <div class="col-1">.col-1</div>
                <div class="col-1">.col-1</div>
                <div class="col-1">.col-1</div>
                <div class="col-1">.col-1</div>
                <div class="col-1">.col-1</div>
                <div class="col-1">.col-1</div>
                <div class="col-1">.col-1</div>
            </div>
            <div class="col-group col-group-exp mg">
                <div class="col-8">.col-8</div>
                <div class="col-4">.col-4</div>
            </div>
            <div class="col-group col-group-exp mg">
                <div class="col-4">.col-4</div>
                <div class="col-4">.col-4</div>
                <div class="col-4">.col-4</div>
            </div>
            <div class="col-group col-group-exp mg">
                <div class="col-6">.col-6</div>
                <div class="col-6">.col-6</div>
            </div>
        </div>
        <div class="mg-l"><span class="text-l">两栏布局</span></div>
        <div class="mg-l">
            <div class="column-layout-wrap">
                <div class="side-wrap">
                    <div class="tree-list" tree-list="../data/tree-discount.data" ng-model="itemData.item"></div>
                </div>
                <div class="main-wrap"></div>
            </div>
        </div>
        <div class="mg-l">
            <div class="column-layout-wrap column-layout-wrap2">
                <div class="side-wrap">
                    <div class="tree-list" tree-list="../data/tree-discount.data" ng-model="itemData.item"></div>
                </div>
                <div class="main-wrap">
                    <table-list list-data="../data/table-list.data" list-params="listParams">
                        <div class="loader" ng-if="status.isLoading">
                            <div class="loader-inner pacman">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div ng-if="!status.isLoading">
                            <div class="empty-wrap" ng-if="tbodyList.length==0">
                                <div class="icon"><i class="iconfont icon-empty"></i></div>
                                <div>什么也没有</div>
                            </div>
                            <div ng-if="tbodyList.length">
                                <div class="mg-m">
                                    <div class="fr">
                                        <pagination2 status="status"></pagination2>
                                    </div>
                                </div>
                                <table class="table-list">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" class="selectAll"></th>
                                        <th>户型名称</th>
                                        <th>房屋用途</th>
                                        <th>房 型</th>
                                        <th>预售面积</th>
                                        <th>附属/赠送类型和面积</th>
                                        <th>户型图</th>
                                        <th>其他信息</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="tr in tbodyList" modal-right="920" modal-scope="this" modal-url="views/project-house-add.html?id={{::tr.id}}">
                                        <td class="select-td"><input type="checkbox" class="selectOne" value="{{tr.id}}"></td>
                                        <td>{{tr.name}}</td>
                                        <td>{{tr.col1}}</td>
                                        <td>{{tr.col2}}</td>
                                        <td>{{tr.col3}}</td>
                                        <td>{{tr.col4}}</td>
                                        <td>{{tr.col5}}</td>
                                        <td>{{tr.col6}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="mg-s">
                                    <div class="fr">
                                        <pagination status="status"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </table-list>
                </div>
            </div>
        </div>
    </div>
</div>