<div class="page-dialog-wrap">
    <div class="page-dialog-title">查看折扣</div>
    <div class="page-dialog-content">
        <div class="mg-m col-group">
            <div class="col-6">
                <div class="color-gray">项目名称</div>
                <div class="text-m">/ 北岸组团</div>
            </div>
            <div class="col-6">
                <div class="color-gray">折扣类型</div>
                <div class="text-m">/ 银卡优惠</div>
            </div>
        </div>
        <div class="form-box">
            <div class="form-tr mg-0">
                <div class="form-th">折扣名称</div>
                <div class="form-td"><span class="form-ctrl">开发银金卡优惠</span></div>
            </div>
            <div class="form-tr mg-0">
                <div class="form-th">特价房是否适用</div>
                <div class="form-td"><span class="form-ctrl">适用</span></div>
            </div>
            <div class="form-tr mg-0">
                <div class="form-th">计算方法</div>
                <div class="form-td"><span class="form-ctrl">减点</span></div>
            </div>
            <div class="form-tr mg-0">
                <div class="form-th">折扣（%）</div>
                <div class="form-td"><span class="form-ctrl">1.5</span></div>
            </div>
            <div class="form-tr mg-0">
                <div class="form-th">优惠金额</div>
                <div class="form-td"><span class="form-ctrl">--</span></div>
            </div>
            <div class="form-tr mg-0">
                <div class="form-th">折扣范围</div>
                <div class="form-td"><span class="form-ctrl">整个项目</span></div>
            </div>
            <div class="form-tr mg-0">
                <div class="form-th">生效日期</div>
                <div class="form-td"><span class="form-ctrl">--</span></div>
            </div>
            <div class="form-tr mg-0">
                <div class="form-th">失效日期</div>
                <div class="form-td"><span class="form-ctrl">--</span></div>
            </div>
            <div class="form-tr mg-0">
                <div class="form-th">折扣说明</div>
                <div class="form-td"><span class="form-ctrl">--</span></div>
            </div>
        </div>
    </div>
</div>